body {

    background-image: url("https://c0.anyrgb.com/images/718/499/green-leaf-plant-plant-nature-white-green-minimal-flower-botanical-background-website.jpg");
    background-color: #cccccc;
    padding: 25px;
    font-size: 120%;
}



h1, h2, h3, h4 {
    font-family: "photography";
    text-align: center;
    background-size: 20%;
    background-position: center;
    background-color: white;
    text-shadow: 10px;



}
p{
  font-family: "photography";
  text-align: center;
  background-size: 20%;
  background-position: center;
  background-color: white;
  text-shadow: 10px;

}

a {
  #000000;
[B]clear:right;[/B]
float:left;
margin:100px 200px 300px 400px;
}

}

a {
    text-decoration: none;
    color: maroon;
}


li,aside#sidebar
{
float: left;
padding-left: 1px;
  background-color:white;
  text-decoration-color: red;
}



.content {
  text-decoration-color: blue;
  text-align: center;
}
