body {
 background-image: url("https://www.arborday.org/images/hero/medium/hero-aerial-forest-evergreen-trees.jpg");
 background-color: #cccccc;
}
  background-size: cover;
}
.yellow-div {
  background-color:yellow;
}
.major-section {
  margin: 20px;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: maroon;
}

.minor-section {
  padding: 1px 20px;
  margin: 10px;
  background-color: blue;
}

div {
  color: white;
  font-size: 120%;
  border: solid 10px;
  padding-right: 10px;
  font-family: cursive;

}
h1 {
  color: white;
    font-family: "Courier New", monospace  opacity:100%;;

    padding: 15px;
    background: white;
    opacity: 40%;
    background-clip: padding-box;

}
h2 {
  color: maroon;
  font-family: "cursive";
  text-decoration: inherit
  text-shadow: 10px:

}
p {
  color:White;
}
}
div {
  border: 5px dotted black;
  padding: 15px;
  background: grey;
  opacity: 70%;
  background-clip: padding-box;
}

a {
    text-decoration: underline;
    text: 10px
    color: maroon;
    padding: solid 1px;
    background-color: blue;
    border-color: blue;
    fill: blue;
  }
